/* deletescreen.css */
.delete-screen-page {
    padding: 10px;
    min-height: 90vh;
}

/* Thêm độ rộng cho cột Tên Phòng Chiếu */
.delete-screen-page table {
    width: 30%;
    border-collapse: collapse;
    margin: 10px;
}

.delete-screen-page th,
.delete-screen-page td {
    border: 1px solid #ddd;
    /* Thêm viền cho cả ba cột */
    padding: 8px;
    text-align: left;
}

.delete-screen-page th:nth-child(2),
.delete-screen-page td:nth-child(2) {
    width: 70%;
    /* Thay đổi độ rộng của cột Tên Phòng Chiếu tại đây */
}

/* Các style khác có thể tiếp tục ở đây */